body {
	font-family: Arial, Helvetica, sans-serif;
}

#bc {
padding: 0px;
width: 100%;
float: left;
}

#bc ul{
list-style: none;
margin: 0px;
padding: 0px;
}

#bc li {
float: left;
}

#bc a {
text-decoration: none;
}


/*
 * The following styles are for the display of the menu
 * See: http://ago.tanfa.co.uk/css/examples/menu/tutorial-h.html
 * 
 */

#menu {
padding: 0px;
width: 100%;
float: left;
}

#menu ul{
list-style: none;
margin: 0px;
padding: 0px;
}

#menu li {
position: relative;
background-color: #DBDBDB;
list-style: none;
margin: 0px;
padding: 0px;
width: 12em;
float: left;
}

#menu a {
text-decoration: none;
}

#menu a, #menu li.h2 {
color: #000000;
display: block;
padding: 5px 5px;
}

#menu a:hover {
color: #1B65C4;
background-color: #EBEBEB;
}

#menu li.h2 {
font-weight: bold;
}

#menu li.h2 li{
font-weight: normal;
}

#menu li.active {
border-color: #1B65C4;
border-style: solid;
border-width: 3px;
}

#menu ul ul ul {
position: absolute;
top: 0;
left: 100%;
}

#menu ul ul {
position: absolute;
z-index: 500;
}

div#menu ul ul {
display: none;
}

div#menu ul li:hover ul
{display: block;}

div#menu ul ul,
div#menu ul li:hover ul ul,
div#menu ul ul li:hover ul ul
{display: none;}

div#menu ul li:hover ul,
div#menu ul ul li:hover ul,
div#menu ul ul ul li:hover ul
{display: block;}

/***************end of menu styles*************************/